<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjPMvIinYPPbPzSe56_P-x9XQCrT4skCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>198131687869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-4b3e4</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-4b3e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198131687869:ios:5736390d7597df35edb2d4</string>
</dict>
</plist>