<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_-NRoj9vIEAXJ_983mxOs9_MX3OwAAeA</string>
	<key>GCM_SENDER_ID</key>
	<string>67348109225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>recipeflutterapp-1eebc</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeflutterapp-1eebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67348109225:ios:31320099da0e86255496b8</string>
</dict>
</plist>